body {
	margin-left: 90px;
	margin-right: 90px;
	/*background-color: #F68080*/
/*	background-color: #87CEFA*/
    background-color: white;
}

.full-page {
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
}

#landing-page {
	background-color: #e5ffff;
}

#post-information-container {
	height: 70%;
}

.container-fluid {
	height:100%;
}

.container-fluid .row {
	height:100%;
}

.post-graph {
	height: 100%;
}

#header h1 {
    color:  #009899;
	font-size: 90px;
}

#header h4 {
	margin-left: 15px;
    color:  #009899;
}

.form {
	padding-top: 10px;
	padding-bottom: 10px;
}


#chart-container{
	text-align: center;
	height: 100%;
	border: solid 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.positive{
		fill: darkgreen;
		fill-opacity: 0.9;
	}
.negative{
		fill: darkred;
		fill-opacity: 0.9;
	}
.axis path,
.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
	}
.axis text {
			font-family: sans-serif;
			font-size: 10px;	
	}
div.tooltip {   
	  position: absolute;     
	  text-align: center;
	  vertical-align: middle;   
	  width: 150px;                  
	  height: 50px;                 
	  padding: 5px; 
	  color: #000000;          
	  font-size: 12px;     
	  background: #FFF;
	  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	  border: 2px;  
	  border-radius: 8px;  
	  pointer-events: none;                  
	} 
li{
	overflow:hidden;
	display: inline-block;
}
ul{
	padding-left: 0;
	padding-right: 0;
}

#test1 {
  margin: 0;
  padding: 0;
  overflow: none;
  height: 100%;
}

.media-display {
	height: 100%;
	background-color:lightgrey; 
	overflow: scroll; 
}

.media {
	background-color: white;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
}

.media.active {
	background-color: #ffff99;
}

.media .post-info {
	color: #3b5998;
}

.media .post-options {
	padding-top: 3px;
	padding-bottom: 3px;
}

/*-------- page 2 -------*/
#page-two {
	margin-top: 100vh;
	width = 100vw;
	height = 100vh;
	background-color: #e5ffff;
}

